html, body {
    overflow-x: hidden;
    font-family: "open sans" !important;
  }
  

header {
  width: 100%;
  height: 600px;

  background: url(../img/portada.jpg);

  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-size: 50px;
  color: #fff;
}

.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

nav {
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a {
  color: rgb(253, 254, 255) !important;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

nav > a:hover {
  text-decoration: underline;
}

.ondas {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*general*/
.general-padding {
  padding: 70px 0px 80px;
}

/* SECION ACERCA DE*/
.acerca {
    background-color: #f9f9f9;
  }

 

  .section-headline h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
  }
  
  .section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 50%;
  }
 
  .section-headline h2 {
    font-size: 30px !important;
  }

  img {
    max-width: 100%;
    height: auto;   
  }


  .estilo-simple ul li {
    color: rgb(37, 37, 37);
    display: block;
    padding: 5px 0;
  }

    /*servicios*/

  .servicios-icono {
    color: #444;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  
  .section-headline.servicio-cabecera > h2 {
    margin-bottom: 25px;
  }

  .section-headline.servicio-cabecera > h2 {
    margin-bottom: 25px;
  }
  
  .serv-detalle {
    padding-top: 40px;
    transition: all 0.5s ease 0s;
  }
  
  .serv-detalle:hover h4, .serv-detalle:hover .servicios-icono {
    color: #3EC1D5;
  }
  

  
  
 